.sypnosis {
    color: #7E8184;
    font-style: italic;
}

.sypnosis em {
    font-style: normal;
}

.button:link,
.button:visited {

    display: block;
    text-decoration: none;
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;

    width: 200px;
    box-sizing: border-box;
    margin: 20px auto;

}

.button:hover,
.button:visited:hover {
    color: #FFF;
    background-color: #76AEED;
}

.button:active,
.button:visited:active {
    color: #FFF;
    background-color: #5995DA;
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background: #F5CF8E;
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;
}

.page {
    width: 600px;
    margin: 0 auto;
}

#button-2 {
    color: #D55C5F;
}

.call-to-action {
    font-style: italic;
    background-color: #EEB75A;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:active {
    color: red;
} 

p:last-of-type {
    margin-bottom: 50px;
}
